body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-image: url("./images/background.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}
.status{
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.square{
 /* background: #fff;*/
  border: 2px solid #000;
  float:left;
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  /*margin-right: -1px;
  margin-top: -1px;*/
  padding:0;
  text-align: center;
  width: 80px;
}

.square:focus{
  outline:none;
}
/*
.kbd-navigation .square:focus{
  background: #ddd;
}*/

.game-board{
  margin-left: 550px;
}

